body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  /* background-color: ; */
}
:root {
  --header-height: 8vh;
}

header {
  /* position: relative; */
  /* width: 100vw; */
  height: var(--header-height);
  border-bottom: 1px solid black;
}

.login {
  position: relative;
  left: 80vw;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 배치하려는 DIV를 감싸는 부모 요소의 높이를 설정 */
}

.input-login-wrap {
}

ul {
  list-style: none;
}

ul.header-links li {
  float: left;
  margin-left: 10px;
}

#membmer {
  position: relative;
  top: 60px;
  left: 60%;
}

.gmnoprint .gm-style-cc {
  display: none;
}

.main_wrap {
  /* position: relative; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: center; */
}

.main_wrap table {
  /* position: absolute; */
  left: 50%;
  /* transform: translateX(-50%); */
}

.main_map {
  /* position: relative; */
  /* margin: 0; */
}

.countryInfo {
  margin-top: 3vh;
  /* text-align: center; */
  /* width: 30%; */
  /* height: 20%; */
}

.countryInfo,
/* .countryInfo>tbody>tr, */
.countryInfo>tbody>tr>td {
  border: 1px solid black;
  border-collapse: collapse;
}

.countryInfo > tbody > tr:nth-child(1) {
  width: 20px;
}

.countryInfo > tbody > tr:nth-child(2) {
  width: 40px;
}

.info figure {
  display: inline-block;
  margin-right: 30px;
}

figcaption {
  text-align: center;
}

.test1 {
  text-align: center;
}

.info {
  /* border: 1px solid black; */
  text-align: center;
}

figure > img {
  width: 150px;
  height: 150px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_40 {
  margin-top: 40px;
}

.board_wrap {
  width: 80vw;
  margin: 0 auto;
  margin-top: 7vh;
}

.board,
.board tr,
.board td,
.board th {
  border: 1px solid black;
  border-collapse: collapse;
}

table.board th {
  text-align: center;
}

table.board td:nth-child(1),
table.board th:nth-child(1) {
  width: 10px;
  text-align: center;
}

table.board td:nth-child(2) {
  width: 500px;
  height: 20px;
  text-align: left;
  padding-left: 15px;
  /* padding-top: 20px; */
}
table.board td:nth-child(2):hover {
  color: orange;
}

table.board td:nth-child(3) {
  width: 125px;
  text-align: center;
  /* padding-left: 15px; */
}

table.board td:nth-child(4) {
  width: 70px;
  text-align: center;
  /* padding-left: 15px; */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li:hover {
  /* background-color: gray; */
  /* color: white; */
  cursor: pointer;
}

.on {
  font-weight: bold;
}

.skeleton {
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
}

.skeleton.text {
  width: 100%;
  height: 12px;
}

.skeleton.title {
  width: 50%;
  height: 20px;
  margin-bottom: 15px;
}

.skeleton.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.skeleton.thumbnail {
  width: 100px;
  height: 100px;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translate(150%);
  }
}

.popup_wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5); /* 투명도 50%인 검정색 */
}

.popup {
  position: relative;
  background-color: aliceblue;
  border: 3px solid black;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  top: 20%;
  left: 40%;
  z-index: 999;
  padding-left: 20px;
  padding-right: 20px;
  /* transform: translate(-50%, -50%); */
}

.btn_group {
  position: relative;
}

.btn_group button {
  margin-left: 15px;
  margin-right: 15px;
}

/* .btn_group > button:first-of-type {
  position: absolute;
  left: 50%;
} */

/* .btn_group > button:last-of-type {
  position: absolute;
  right: 0;
} */

.dsp_n {
  display: none;
}

.mt-0 {
  margin-top: 0px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mt-150 {
  margin-top: 150px !important;
}
.mt-200 {
  margin-top: 200px !important;
}

.ml-0 {
  margin-left: 0px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-35 {
  margin-left: 35px !important;
}
.ml-35 {
  margin-left: 35px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-45 {
  margin-left: 45px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-55 {
  margin-left: 55px !important;
}
.ml-60 {
  margin-left: 60px !important;
}
.ml-65 {
  margin-left: 65px !important;
}
.ml-70 {
  margin-left: 70px !important;
}
.ml-75 {
  margin-left: 75px !important;
}
.ml-80 {
  margin-left: 80px !important;
}
.ml-85 {
  margin-left: 85px !important;
}
.ml-90 {
  margin-left: 90px !important;
}
.ml-100 {
  margin-left: 100px !important;
}
.ml-150 {
  margin-left: 150px !important;
}
.ml-200 {
  margin-left: 200px !important;
}

.mr-0 {
  margin-right: 0px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-35 {
  margin-right: 35px !important;
}
.mr-35 {
  margin-right: 35px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-45 {
  margin-right: 45px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-55 {
  margin-right: 55px !important;
}
.mr-60 {
  margin-right: 60px !important;
}
.mr-65 {
  margin-right: 65px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.mr-75 {
  margin-right: 75px !important;
}
.mr-80 {
  margin-right: 80px !important;
}
.mr-85 {
  margin-right: 85px !important;
}
.mr-90 {
  margin-right: 90px !important;
}
.mr-100 {
  margin-right: 100px !important;
}
.mr-150 {
  margin-right: 150px !important;
}
.mr-200 {
  margin-right: 200px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-55 {
  margin-bottom: 55px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-65 {
  margin-bottom: 65px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-85 {
  margin-bottom: 85px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.mb-150 {
  margin-bottom: 150px !important;
}
.mb-200 {
  margin-bottom: 200px !important;
}

/* padding */
.pt-0 {
  padding-top: 0px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pt-100 {
  padding-top: 100px !important;
}
.pt-150 {
  padding-top: 150px !important;
}
.pt-200 {
  padding-top: 200px !important;
}

.pl-5 {
  padding-left: 5px;
}

.wd-350 {
  width: 350px;
}

.hg-35 {
  height: 35px;
}

.ta-c {
  text-align: center;
}

/* 모달 팝업 */
.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.9;
  filter: alpha(opacity=80);
}
.dsp-b {
  display: block !important;
}
.popup_wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 1002;
  overflow-y: auto;
  box-sizing: border-box;
}

.popup_wrap.comm {
  width: 300px;
  max-height: 90vh;
  height: fit-content;
  border-radius: 5px;
  padding: 30px;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto;
}

.font-white {
  color: #ffffff !important;
}

.fs-16 {
  font-size: 16px !important;
}

.font-999 {
  color: #999999 !important;
}

.fw-b {
  font-weight: bold;
}
