/* position */
.ps-r {
  position: relative;
}

.ps-a {
  position: absolute;
}

/* display */
.flex {
  display: flex !important;
}

.block {
  display: block;
}

.dsp-n {
  display: none;
}

/* text */
.ta-c {
  text-align: center;
}

/* border */
.bd-t {
  border-top: 1px solid black;
}

/* font */
.fw-b {
  font-weight: bold;
}

/* padding */
.pd-10 {
  padding: 10px 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

/* margin */
.mg-10 {
  margin: 10px 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-250 {
  margin-left: 250px;
}

.mb-10 {
  margin-bottom: 10px;
}

/* border */
.br-1 {
  border-right: 1px solid black;
}

.bb-1 {
  border-bottom: 1px solid black;
}

/* ul */
ul > li,
ol > li {
  list-style: none;
}

ul.typ1 {
  margin-top: 50px;
}

ul.typ1 > li {
  float: left;
  padding-left: 10px;
}

/* table */
table,
th,
td {
  border-bottom: 1px solid #f2f2f2;
}

thead {
  border-top: 1px solid black;
}

tbody {
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
}

th {
  /* background-color: #f9f9f9; */
  text-align: center;
  /* padding-left: 10px; */
}

tr.noti {
  background-color: #f9f9f9;
}

/* color */
.red {
  color: red;
}

.blue {
  color: #0459c1;
}

textarea {
  resize: none;
  width: 390px;
  height: 300px;
}

/* event */
.disabled {
  color: gray;
  pointer-events: none;
  /* 기타 스타일링 */
}

.bd-t {
  border-top: 1px solid black;
}

.test {
  position: absolute;
  /* border: 1px solid rgba(0, 0, 0, .06); */
  width: 100px;
  /* height: 100px; */
  z-index: 10;
  /* top: auto; */
  /* background-color: ; */
  background-color: wheat;
  font-size: 13px;
}

.test > ul {
  padding-left: 15px;
  line-height: 20px;
}

.test > ul > li:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}
